{% extends 'base.html' %}
{% load static %}

{% block extra_headers %}
<link rel="stylesheet" href="{% static 'home/css/style.css'%}">
{% endblock%}

{% block content %}
    {% for category in categories %}
        <a class="btn btn-info" href="{{category.get_absolute_url}}">{{ category.name }}</a>
    {% endfor %}
    <br><br>
    {% for product in products %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description|truncatechars:20}}</p>
            <a href="{{product.get_absolute_url}}" class="btn btn-primary">Go To Detail</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}